<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{conferencia.name}}</h1>
  <div>
    <label for="name" > Hero Name:</label>
    <input id="name" [(ngModel)] = "conferencia.name" placeholder="name">
  </div>

  <h2>Lista de Conferencias</h2>
  <ul>
    <li *ngFor="let conf of conferencias" (click)="onSelect(conf)">
      <span>{{conf.name}}</span>
    </li>
  </ul>
  <div *ngIf="selectedConf">
  <h2>{{selectedConf.name | uppercase}} Details</h2>
<div>
  <p>Conference Local : {{selectedConf.local}}</p>
  <p>Conference Date : {{selectedConf.data}}</p>

</div>
</div>
  <app-conference></app-conference>
</body>
</html>
